{
  "plugins": [
    [
      "import",
      [
        {
          "libraryName": "antd",
          "style": true
        },
        {
          "libraryName": "antd-mobile",
          "style": true
        }
      ]
    ]
  ]
}
