@media screen and (max-width: 1024px) {

  .content {
    padding: 0 16px;
  }

}

.bigTitle{
  color: #fff;
  text-align: center;
  background-color: #000;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
}

